h1{
	margin-left: 1rem;
	padding: 5px;
	text-align: center;
}
body{
	background-color: #EDD70F;
}

input{
	margin-left: 5px;
}

.login_btn{
	padding: 8px;
	border-radius: 7px;
	margin-left: 9rem;
}
.login_btn:hover{
	background-color: #1DD5E6;
	transform: scale(1.1);
	transition-duration: 1s;
	color: #EDD70F;
}

.input_name, .input_password{
	font-size: 1rem;
	padding: 5px;
}
.input_name{
	margin-left: 37px;
}
label{
	margin-left: 1rem;
}