/* ---- COLORS -----

Light Blue - #1DD5E6
Blue	   - #46AEF7
Orange	   - #F26432
Off-White  - #F1EFED
Yellow	   - #EDD70F

*/

/* ---- Fonts ---- */

@font-face {
    font-family: 'Lato';
    src: url('/Font/Lato/Lato-Regular.ttf')
}

@font-face { 
    font-family: 'Lato';
    font-weight: 100;
    src: url('/Font/Lato/Lato-Thin.ttf');
}
@font-face { 
    font-family: 'Lato';
    font-weight: 100;
    font-style: italic;
    src: url('/Font/Lato/Lato-ThinItalic.ttf');
}
@font-face { 
    font-family: 'Lato';
    font-weight: 300;
    src: url('/Font/Lato/Lato-Light.ttf');
}
@font-face { 
    font-family: 'Lato';
    font-weight: 300;
    font-style: italic;
    src: url('/Font/Lato/Lato-LightItalic.ttf');
}
@font-face { 
    font-family: 'Lato';
    font-weight: 400;
    font-style: italic;
    src: url('/Font/Lato/Lato-Italic.ttf');
}
@font-face { 
    font-family: 'Lato';
    font-weight: 700;
    src: url('/Font/Lato/Lato-Bold.ttf');
}
@font-face { 
    font-family: 'Lato';
    font-weight: 700;
    font-style: italic;
    src: url('/Font/Lato/Lato-BoldItalic.ttf');
}
@font-face { 
    font-family: 'Lato';
    font-weight: 900;
    src: url('/Font/Lato/Lato-Black.ttf');
}
@font-face { 
    font-family: 'Lato';
    font-weight: 900;
    font-style: italic;
    src: url('/Font/Lato/Lato-BlackItalic.ttf');
}


/* ----- General SET-UP ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #505050;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;
    min-width: 1200px;
}

p {
    letter-spacing: .1em;
}

/* BACKGROUND */

/*wave_animation*/
#background_waves{
    position: absolute;
    background-image: url(/images/Background/waves.png);
    width: 100%;
    height: 90%;
    opacity: 0%;
    background-repeat: repeat-x;
    animation-name: waves-move;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/* -----  HEADER  ----- */

.header_area {
    padding: 15px;
    text-align: left;
    background-color: #46AEF7;
    color: white;
    font-size: 20px;
    min-height: 50px;
    height: 80px;
    max-height: 400px;
}

#logo {
    margin-top: 15px;
    width: 18%;
    min-width: 180px;
    max-width: 250px;
    transition-property: all;
    transition-duration: 0.5s;
}

#logo:hover {
    transform: scale(1.03);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #46AEF7;
    margin-top: -45px;
}

.navigation {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    margin: 10px 10px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: all .2s;
}

.navigation a:hover {
    border-bottom: 1px solid #F26432;
}

/* BUTTONS */

.btn {
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #F26432;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    transition: all .3s;
}



/* LOGIN & SIGNUP */

/* username and password field, shared class for less code. 
Also have their unique class in case somebody whats to change one*/
.u_signup, .u_login {
	width: 70%;
	padding: 10px 20px;
	background:  #F1EFED;
	color: #505050;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	border: 1px solid transparent;
	border-radius: 50px;
	outline: none;
	text-align: center;
	margin-bottom: 27px;
	margin-bottom: 50px;
	transition: all .5s ease-out;
}

/* login / sign in button */
.login_btn, .signup_btn {
	color: #fff;
	text-align: center;
	padding: 10px 40px;
	margin-bottom: 50px;
	border: 0;
	background: linear-gradient(to right, #F26432, #46AEF7);
}

/* a little animation when field is focused/clicked on */
.u_signup:focus, .u_login:focus {
	border: 1px solid#F26432;
}

/* BOXES */

.box_black {
    text-align: center;
	background-color: rgba(0, 0, 0, 0.3);
	width: 400px;
	height: 450px;
    border-radius: 1em;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    
    animation: moveInBottom 1s ease-out .5s backwards;
}

.box_center {
    margin-top: 300px;
	margin-left: 50%;
    transform: translate(-50%, -50%);
}

/* Center Screen */

.center {
    max-width: 1140px;
    margin: 0 auto;
}

/* HEADING */

h1 {
	padding: 40px;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
    font-weight: 300;
    letter-spacing: .1em;
	color: #fff;
}

/* ANIMATIONS */

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
        margin-left: 50%;
        transform: translate(-50%, 0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        margin-left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    70% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    70% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes waves-move {
    0% {
        background-position: 0%; 
        opacity: 0;
    }
    50% {
        opacity: 0.03;
    }
    100% {
        background-position: -100%; 
        opacity: 0;
    }
}
