.header_area {
    padding: 15px;
    text-align: center;
    background-color: #46AEF7;
    color: white;
    font-size: 20px;
    min-height: 50px;
    margin: -10px;
    max-height: 300px;
}

#logo {
    width: 20%;
    min-width: 200px;
    max-width: 250px;
    transition-property: all;
    transition-duration: 0.3s;
}

#logo:hover {
    min-width: 250px;
    max-width: 300px;
    width: 25%;
}

