/* 
Notice that some parts are commented out.
If we choose to go with an background image or not, we can use those commented out codes with it.
They er marked with (W BG IMAGE).
*/


/* Background & general font */

/*
body{
	background-color: #F1EFED;
	font-family: 'Lato', sans-serif;
}
*/

/* W BG IMAGE */
body {
	height: 100vh;
	background: linear-gradient(to bottom, rgba(70, 173, 247, 0.9), rgba(0, 0, 0, 0.8)) , url(/images/Background/background_login.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Login heading */
h1 {
	color: #fff;
	margin-top: 20px;
	margin-bottom: -25px;
}

/* W BG IMAGE Header background turns transparent - and maybe remove other options when it comes to that */
.header_area {
	background-color: transparent;
}
.header_area ul {
	background-color: transparent;
}


/* ------ login part ------ */
.login-box {
	margin-top: 300px;
	margin-left: 50%;
	transform: translate(-50%, -50%);
}


/* Login tittel */
.login {
	text-align: center;
	padding-top: 40px;
	/* color: #505050; */
	color: #F1EFED;
    font-weight: bold;
	font-size: 25px;
	margin-bottom: 50px;
}

/* login box bottom part - forgot pass, etc */
.login_bottom {
	display: flex;
	justify-content: space-between;
	padding: 50px 70px 0px 70px;
	text-align: center;
}
.login_sub a {
	/* color:#505050; */
	color: #F1EFED;
	text-decoration: none;
	font-weight: 700;
	font-size: 13px;
}


