/* Background image */
.landing_page {
	height: 100vh;
    background-image:linear-gradient( to bottom,
        rgba(70, 173, 247, 1),
        rgba(0, 0, 0, 0)),
        url(/images/Background/background_frontpage.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

/* Centering the h1 tag */
h1 {
    display: flex;
    justify-content: center;
	padding-top: 30px;
}

/* Centering the div tag which contains the location divs */
.recommended_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* Arranging the divs to be in a row by using flexbox */
.recommended_place {  
	padding: 30px;
    position: relative;
    display: inline-block;
    
}

/* Centering the h2 tag and adding font */
.name {
	padding-bottom: 20px;
    display: flex;
    justify-content: center;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
    font-weight: 100;
    letter-spacing: .1em;
	color: #000;

}

/* Images which connects to a button */
#lakselv_btn, #frafjordelva_btn, #vormo_btn {
    border-radius: 15px;
    height: 200px;
	width: 350px;
    opacity: 85%;
    transition-property: all;
    transition-duration: 0.5s;
	position: relative;
	
}

/* When hovering the images scales the image and full opacity */
#lakselv_btn:hover, #frafjordelva_btn:hover, #vormo_btn:hover {
    height: 240px;
	width: 390px;
    opacity: 100%;
    transform: scale(1.15);
    cursor: pointer;
	box-shadow: 3px 3px 3px 3px #46AEF7;

}

/* Connecting the dropdown info box to each of the images */
#lakselv_btn:hover + .dropdown, #frafjordelva_btn:hover + .dropdown, #vormo_btn:hover + .dropdown {
	display: block;
	box-shadow: 8px aliceblue;
	opacity: 80%;
}

/* The dropdown info box which appears when hovering the image */
.dropdown {
	padding: 20px;
	width: 100%;
	max-width: 390px;
	position:absolute;
	display: none;
	font-family: sans-serif;
	font-size: 15px;
	color: white;
	background-color: #46AEF7;
	border-radius: 15px;
	box-shadow: 3px 3px 3px 3px #46AEF7;
	
}

/* Creating different kinds of pies which represents reviews */
.pie_charts {
	display: flex;
	flex-wrap: wrap;
}

/* A full pie */
.pie {
	padding: 1px;
  	width: 16px; height: 16px;
  	border-radius: 50%;
  	background: #F26432;
}

/* A half pie */
.half_pie {
	padding: 1px;
	width: 16px; height: 16px;
  	border-radius: 50%;
  	background-image: linear-gradient(to right, #F26432 50%, white 0%);

}

 /* Empty pie for spacing */
.white_pie {
	width: 16px; height: 16px;
	border-radius: 50%;
	background: #46AEF7;
}

/* Info in the dropdown box*/
.info {
	display: flex;
	flex-wrap: wrap;
  	font-size: 15px;
  	color: rgba(0,0,0,0.8);
  	font-weight: bold;
	padding-right: 30px;
	margin: 2px;
	padding-top: 3px;
	
}

/* Icons in the info*/
.info_icons {
	max-width: 25px; height: 25px;
	margin: 1px;

}

/* Info related to the icons*/
.info_to_icon {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 2px;
}

.price_div {
	position: relative;
	display: flex;
	justify-content: flex-end;
	font-family: 'Lato';
	font-size: 25px;
	border-radius: 4px;
	
}

.offer {
	display: flex;
	align-content: center;
	font-family: 'Lato';
	font-size: 15px;
	padding-right: 5px;
}

.price {
	border-radius: 5px;
	background-color: #F26432;
}
/*
- vannkvalitet (tar med plast i havet, kjemikalier osv)
- family friendly
- excercise/fitness (fordi det er en elv med rennende vann hihi)
- safe (fordi det ikke er hai)
- type "havbunn", typ gjørme, stein, sand osv
*/
