/* 
Notice that some parts are commented out.
If we choose to go with an background image or not, we can use those commented out codes with it.
They er marked with (W BG IMAGE).
*/


/* Background & general font */

/*
body{
	background-color: #F1EFED;
	font-family: 'Lato', sans-serif;
}
*/

/* W BG IMAGE */
body {}
	background: linear-gradient(to bottom, rgba(70, 173, 247, 0.9), rgba(0, 0, 0, 1)) , url(/images/Background/background_login.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

/* Login heading */
h1 {
	color: #fff;
}

/* W BG IMAGE Header background turns transparent - and maybe remove other options when it comes to that */
.header_area {
	background-color: transparent;
}

.header_area ul {
	background-color: transparent;
}


/* ------ Sign up box ------ */
.signup_box {
	height: 500px;
}

/* Login tittel */
.signup_title {
	text-align: center;
	margin-bottom: 20px;
	padding-top: 40px;
    font-weight: bold;
	font-size: 25px;
	color: #F1EFED;
}

/*Buttons to select if you are a fish or a fisher*/
.custom-select {
    display: flex;
    justify-content: center;
}

.custom-select > div {
    text-align: center;
    width: 120px;
	margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
	padding: 5px;
	font-size: 20px;
	color: #fff;
	background-color: #F26432;
}

.custom-select a{
    text-decoration: none;
    color: #fff;
}

#fish_clicked {
	opacity: 0.5;
	color: #fff;
}
#fisher_clicked {
	opacity: 0.5;
	color: #fff;
}

/*Input fields greyed out*/
#name_inactive {
	background: #505050;
}

.inactive{
    background: #505050;
    color: #606060
}


/*Black box without animation*/
.box_black_no_animation {
	text-align: center;
	width: 400px;
	height: 500px;
    border-radius: 1em;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.3);
}

.u_signup_2 {
	text-align: center;
	width: 70%;
	margin-bottom: 27px;
	margin-bottom: 50px;
	border: 1px solid transparent;
	border-radius: 50px;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
	outline: none;
	background:  #F1EFED;
	color: #505050;
	
}

.btn2 {
	margin-bottom: 50px;
    border-radius: 20px;
	border: none;
	padding: 10px 20px;
	text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
	color: #fff;
	background-color: #F26432;
	cursor: pointer;
}

.signup_btn2 {
	text-align: center;
	margin-bottom: 50px;
	border: 0;
	padding: 10px 40px;
	background: linear-gradient(to right, #F26432, #46AEF7);
	color: #fff;
}